<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.systemMsg.sysVersions.mapper.SysVersionsMapper">

	<resultMap id="sysVersionsMapper" type="com.example.systemMsg.sysVersions.enity.SysVersions">
		<result property="ids" column="ID" />
		<result property="verName" column="VER_NAME" />
		<result property="verType" column="VER_TYPE" />
		<result property="verCreate" column="VER_CREATE" />
		<result property="createDate" column="CREATE_DATE" />
		<result property="createId" column="CREATE_ID" />
		<result property="updateDate" column="UPDATE_DATE" />
		<result property="delFlag" column="DEL_FLAG" />
		<result property="verVersion" column="VER_VERSION" />
	</resultMap>

	<select id="selectSysVersions" resultMap="sysVersionsMapper">
	SELECT * FROM(
		SELECT * FROM
			SYS_VERSIONS
		WHERE
			DEL_FLAG = '0'
		ORDER BY
		    VER_CREATE DESC
		)where rownum &lt; 4
	</select>

	<select id="selectOneAndOneSysVersions" resultMap="sysVersionsMapper">
		SELECT * FROM(
			SELECT * FROM
				SYS_VERSIONS WHERE
				DEL_FLAG = '0'
				<if test="isHas != null and isHas != '0'.toString()">
					AND TO_DATE(UPDATE_DATE,'yyyy-mm-dd hh24:mi:ss') >= SYSDATE - #{isHas}
				</if>
			ORDER BY VER_CREATE DESC
		)
		WHERE rownum = 1
	</select>

	<select id="selectSysVersionsWebIss" resultType="java.lang.Integer">
		SELECT
			COUNT( ID )
		FROM
			SYS_VERSIONS_LOG
		WHERE
			VERSIONS_ID = #{sysVersions.ids}
		  	AND PSN_ID = #{sysVersions.createId}
	</select>

	<insert id="insertSysVersionsWebIss">
		INSERT INTO SYS_VERSIONS_LOG(ID, PSN_ID, VERSIONS_ID, CREATE_DATE, UPDATE_DATE)
		VALUES (#{sysVersions.ids}, #{sysVersions.verCreate}, #{sysVersions.verVersion}, #{sysVersions.createDate}, #{sysVersions.updateDate})
	</insert>

	<insert id="insertSysVersionsWeb">
		INSERT INTO SYS_VERSIONS(ID,VER_NAME,VER_TYPE,VER_CREATE,CREATE_ID,CREATE_DATE,UPDATE_DATE,DEL_FLAG,VER_VERSION)
		VALUES(#{sysVersions.ids},#{sysVersions.verName},#{sysVersions.verType},#{sysVersions.verCreate},#{sysVersions.createId},
		  #{sysVersions.createDate},#{sysVersions.updateDate},#{sysVersions.delFlag},#{sysVersions.verVersion})
	</insert>

	<insert id="insertSysVersionsApp">
		INSERT INTO SYS_VERSIONS_APP(ID,VERSIONS_CODE,VERSION_TYPE,CREATE_DATE,VERSIONS_ID, APP_URL, IS_MUST_UPDATE)
		VALUES(#{sysVersions.ids},#{sysVersions.verName},#{sysVersions.verType},#{sysVersions.verCreate},
			  #{sysVersions.verVersion}, #{sysVersions.appUrl}, #{sysVersions.isMustUpdate})
	</insert>

	<select id="get" resultMap="sysVersionsMapper">
		SELECT * FROM
		SYS_VERSIONS WHERE
		DEL_FLAG = '0'
		AND ID = #{sysVersions.ids}
	</select>

</mapper>