<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.token.mapper.TokenMapper">

	<resultMap id="tokenmapper" type="com.example.token.enity.token">
		<result property="ids" column="ID" />
		<result property="tokenId" column="TOKEN_ID" />
		<result property="areaId" column="AREA_ID" />
		<result property="psnId" column="PSN_ID" />
		<result property="state" column="STATE" />
		<result property="createDate" column="CREATE_DATE" />
		<result property="createId" column="CREATE_ID" />
		<result property="updateDate" column="UPDATE_DATE" />
		<result property="delFlag" column="DEL_FLAG" />
	</resultMap>

	<select id="selectTokenSession" resultMap="tokenmapper">
		select * from sys_token where 1=1
		<if test="psnId != null and psnId != ''">
			and psn_id = #{psnId}
		</if>
		<if test="state != null and state != ''">
			and state = #{state}
		</if>
		and del_flag = '0'
	</select>

	<insert id="insertTokenSession" parameterType="com.example.token.enity.token">
		INSERT INTO sys_token VALUES (#{token.ids}, #{token.tokenId}, #{token.areaId}, #{token.psnId}, '1',
									 #{token.createDate}, #{token.createId}, #{token.updateDate}, '0')
	</insert>
	
	<update id="delTokenSession">
		update sys_token set del_flag = '1',state = '0' where psn_id = #{token.psnId} and del_flag = '0'
	</update>
	
	
</mapper>