<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.passWordCont.mapper.PassWordMapper">

	<resultMap id="mineBlosTopTabs" type="com.example.passWordCont.enity.PassWord">
		<result property="ids" column="ID" />
		<result property="https" column="HTTPS" />
		<result property="passToken" column="PASS_TOKEN" />
		<result property="passWord" column="PASS_WORD" />
		<result property="onState" column="ON_STATE" />
		<result property="remark" column="REMARK" />
		<result property="accessName" column="ACCESS_NAME" />
		<result property="psnId" column="PSN_ID" />
		<result property="createDate" column="CREATE_DATE" />
		<result property="createId" column="CREATE_ID" />
		<result property="updateDate" column="UPDATE_DATE" />
		<result property="delFlag" column="DEL_FLAG" />
	</resultMap>

	<select id="passWordMineSelect" resultMap="mineBlosTopTabs">
		SELECT
			ID,HTTPS,PASS_TOKEN,ACCESS_NAME,
		    CASE TO_CHAR(ON_STATE) WHEN '0' THEN '否' ELSE '是' END AS ON_STATE,REMARK,PSN_ID,
		    CREATE_DATE,CREATE_ID,UPDATE_DATE,DEL_FLAG
		FROM
			SYS_PASS_WORD
		WHERE
			DEL_FLAG = '0'
			AND PSN_ID = #{passWord.psnId}
			<if test="passWord.https != null and passWord.https != ''">
			AND HTTPS LIKE '%' || #{passWord.https} || '%'
			</if>
			<if test="passWord.passToken != null and passWord.passToken != ''">
			AND PASS_TOKEN = #{passWord.passToken}
			</if>
			<if test="passWord.onState != null and passWord.onState != ''">
			AND ON_STATE = #{passWord.onState}
			</if>
			<if test="passWord.remark != null and passWord.remark != ''">
			AND REMARK LIKE '%' || #{passWord.remark} || '%'
			</if>
		ORDER BY CREATE_DATE DESC
	</select>

	<select id="get" resultMap="mineBlosTopTabs">
		SELECT
			ID,HTTPS,PASS_TOKEN,PASS_WORD,
			CASE TO_CHAR(ON_STATE) WHEN '0' THEN '否' ELSE '是' END AS ON_STATE,REMARK,PSN_ID,
			CREATE_DATE,CREATE_ID,UPDATE_DATE,DEL_FLAG
		FROM
			SYS_PASS_WORD
		WHERE
			DEL_FLAG = '0'
		  AND ID = #{passWord.ids}
		  AND PSN_ID = #{passWord.psnId}
	</select>

	<insert id="insertPassWord">
		INSERT INTO SYS_PASS_WORD(ID,HTTPS,PASS_TOKEN,PASS_WORD,ON_STATE,REMARK,PSN_ID,CREATE_DATE,CREATE_ID,UPDATE_DATE,DEL_FLAG)
		VALUES(#{passWord.ids},#{passWord.https},#{passWord.passToken},#{passWord.passWord},'1',#{passWord.remark},#{passWord.psnId},#{passWord.createDate},#{passWord.createId}
		,#{passWord.updateDate},'0')
	</insert>

	<update id="updatePassWord">
		UPDATE SYS_PASS_WORD SET
		<if test="passWord.https != null and passWord.https != ''">HTTPS = #{passWord.https},</if>
		<if test="passWord.passToken != null and passWord.passToken != ''">PASS_TOKEN = #{passWord.passToken},</if>
		<if test="passWord.passWord != null and passWord.passWord != ''">PASS_WORD = #{passWord.passWord},</if>
		<if test="passWord.onState != null and passWord.onState != ''">ON_STATE = #{passWord.onState},</if>
		<if test="passWord.remark != null and passWord.remark != ''">REMARK = #{passWord.remark},</if>
		<if test="passWord.delFlag != null and passWord.delFlag != ''">DEL_FLAG = #{passWord.delFlag},</if>
		UPDATE_DATE = #{passWord.updateDate}
		WHERE ID = #{passWord.ids}
	</update>

</mapper>